/* CATEGORIES */
.categoryCard,
.categoryCardDetails,
.categoryCardDetailsGrad {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.categoryCard:hover .categoryCardDetailsGrad {
  /* background: rgb(20, 136, 204);
  background: linear-gradient(0deg, rgba(20, 136, 204, 0.15199583251269255) 30%, rgba(255, 255, 255, 0) 70%); */
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 50%);
}

.categoryCard:hover .categoryCardDetails {
  top: calc(100% - 148px)
}

/* CATEGORIES */

/* PRODUCTS */
.productDetails {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.productCard:hover .productDetails {
  margin-top: -70px;
}

/* PRODUCTS */