/* CATEGORIES */
.categoryCard:hover {
  cursor: pointer;
}

.categoryCard:hover .categoryCardBtn {
  transition: opacity .8s, height .8s linear;
  opacity: 1;
  height: auto;
}

.categoryCardBtn {
  opacity: 0;
  height: 0;

}

/* CATEGORIES */

/* PRODUCTS */

.productCard {
  cursor: pointer;
}

.productDetails {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.productMoreDetails {
  display: none;
}

.productCard:hover .productDetails {
  margin-top: -70px;
}

.productCard:hover .productMoreDetails {
  display: block;
}


/* PRODUCTS */